@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lobster&family=Permanent+Marker&display=swap");

* {
  background-color: #f4f6ff;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4f8a8b;
}
div {
  margin: 2vw 4vw;
  padding: 0;
}
.none {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-family: "Lobster", cursive;
  color: #2ec1ac;
  font-size: 5vw;
}
button {
  width: 15vw;
  padding: 2vw;
  border-radius: 1vw;
  color: white;
  border: 0;
}
p {
  margin: 1vw 0;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f6ff;
  z-index: 5;
}
.loadingtext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: #f4f6ff;
  animation: loader 1s ease infinite alternate;
  z-index: 8;
}
.fish {
  height: 5vw;
  position: absolute;
  top: 30%;
  left: 55%;
  animation: fish 10s ease infinite alternate;
  z-index: 7;
}
.fish1 {
  top: 45%;
  left: 35%;
  animation: fish2 8s ease infinite alternate;
}

@keyframes fish {
  from {
    transform: translate(0vw, 0vw);
  }
  to {
    transform: translate(15vw, 10vw);
  }
}
@keyframes fish2 {
  from {
    transform: translate(0vw, 0vw);
  }
  to {
    transform: translate(15vw, -6vw);
  }
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}
@keyframes loader {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(1vw);
  }
}
