@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lobster&family=Permanent+Marker&display=swap");

* {
  background-color: #f4f6ff;
  font-family: "Gothic A1", sans-serif;
  font-size: 1.5vw;
  box-sizing: border-box;
  margin: 1vw 2vw;
  padding: 0;
  color: #4f8a8b;
}
h1 {
  font-family: "Lobster", cursive;
  color: #2ec1ac;
  font-size: 5vw;
}
button {
  width: 15vw;
  padding: 2vw;
  border-radius: 1vw;
  color: white;
  border: 0;
}
